<!DOCTYPE html>
<html lang="en">
<head>
  <title>VikeInks Order Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
  <link rel="stylesheet" href="styles/main2.css">
</head>
<body>

<div class="container" ng-app="myApp">
  <div class="jumbotron text-center">  <h1>VikeInks Order Form</h1>  </div>
  <test>
  <div ng-view>
    <form class="form-horizontal">
<!--Contact Info-->
    <section>
      <h2 class="underline center"> Contact Info </h2>
      <div class="sm-spacer"> </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="name">First Name:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="name" placeholder="Enter your first name" ng-model="firstName" required>
          </div>
          <label class="control-label col-sm-2" for="name">Last Name:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="name" placeholder="Enter your last name" ng-model="lastName" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="email" required>
          </div>
          <label class="control-label col-sm-2" for="date">Date Required by:</label>
          <div class="col-sm-4">
            <input type="date" class="form-control" id="pwd" placeholder="Enter date required" ng-model="date" required>
          </div>
        </div>
      </section>
      <div class="sm-spacer"> </div>
      <section>
      <h2 class="underline center"> Ordering Products </h2>
<!-- Flyers -->
        <div class="productDiv" id="flyerDiv">
          <h3 class="center"> Flyers </h3>
          <div class = "center" id="flyers">
            <label class="checkbox-inline col-sm-3"><input type="checkbox" value="">Option 1</label>
            <label class="checkbox-inline col-sm-4"><input type="checkbox" value="">Option 2</label>
            <label class="checkbox-inline col-sm-4"><input type="checkbox" value="">Option 3</label>
          </div>
        </div>
        <div class="spacer"> </div>
<!-- Posters
        <div class="productDiv" id="posterDiv">
          <h3 class="center"> Posters </h3>
          <div id="posters" ng-repeat="x in wid">
            <div>
              <div class="checkbox">
                <label><input type="checkbox" value=""> {{x.wid}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer"> </div>
<-- Banners
        <div class="productDiv" id="bannerDiv">
          <h3 class="center"> Banners </h3>
          <div id="banners">

          </div>
        </div>
        <-- Calculator -->
      </section>

      <!-- Image Upload -->
      <div class="sm-spacer"> </div>

      <div class="form-group">
        <div class="center">
          <button type="submit" class="btn btn-default btn-lg">Finished! </button>
        </div>
      </div>
    </form>
test
  </div>
</div>

<script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyD-3-P8xRMlzAct8J9wPdGNZuWXp6dPs2w",
    authDomain: "vikeinks-form.firebaseapp.com",
    databaseURL: "https://vikeinks-form.firebaseio.com",
    storageBucket: "vikeinks-form.appspot.com",
    messagingSenderId: "74533408664"
  };
  firebase.initializeApp(config);
</script>
<script src="scripts/main.js"> </script>
</body>
</html>
