<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/main.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    div{
      text-align: center;
    }
    header div{
      border-bottom-style:solid;
    }
  </style>
</head>
<body>
  <div class = "container-fluid">
				<!-- Header -->
  <header>
    <div class = "row">
      <h1>Sign-In</h1>
    </div>
  </header>
  <div class = "row" style="border-bottom-style:solid;">
<!--Email & Password Login-->
	  <div class = "col-md-6">
	      <div class = "row" style="border-right-style:solid;">
		  <br><br><br>
		  <div class = "col-sm-4"></div>
		  <div class="col-sm-4">
		  <form>
		    <div class = "form-group">
			    <p>Already have an account? Sign-in here!</p>
		      <label class="control-label col-sm-2" for="email">Email:</label>
			<input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="email" required>
		    </div>
		    <div class = "form-group">
		      <label class="control-label col-sm-2" for="password">Password:</label>
			<input type="password" class="form-control" id="password" placeholder="Enter password" ng-model="email" required>
		    </div>
			<input type="submit" class = "form-control" id = "submit">
			  </form>
			<form><br>
				<p>If you don't have an account, Sign-Up here!</p>
				<div class = "form-group">
				    <label class="control-label col-sm-2" for="club">Club:</label>
					<input type="text-box" class="form-control" id="signUpClub" placeholder="Enter club" required>
				</div>
				<div class = "form-group">
					
				    <label class="control-label col-sm-2" for="email">Email:</label>
					<input type="email" class="form-control" id="signUpEmail" placeholder="Enter email" ng-model="email" required>
				</div>
				<div class = "form-group">
					<label class="control-label col-sm-2" for="password">Password:</label>
					<input type="password" class="form-control" id="signUpPassword" placeholder="Enter password" ng-model="email" required>
				</div>
				<input type="submit" class = "form-control" id = "signup" value="Sign-Up">
				<br><br><br>
			</form>
		  </div>
	      </div>
	  </div>
<!--Google Login-->
  <div class = "col-md-6">
  </div>
</div>
</div>
</body>
<!--
<footer id="footer">
  <ul class="icons">
    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://www.facebook.com/VikeInks-286105008437530/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>	
  </ul>
  <ul class="copyright">
    <li>&copy; VikeInks</li><li>Main Page: <a href="#">Home</a></li>
  </ul>
</footer>
-->
</html>
