<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/main.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    div{
      text-align: center;
    }
    header div{
      border-bottom-style:solid;
    }
  </style>
</head>
<body>
  <div class = "container-fluid">
				<!-- Header -->
  <header id="header" class="alt">
    <h1><a href="index.html">VikeInks</a></h1>
      <nav id="nav">
          <ul>
              <li class = "buttonTop"> <a href="#"><span class = "navText">Home</span></a> </li>
              <li class = "buttonTop"> <a href="gallery.html"><span class = "navText">Gallery</span></a> </li>
              <li class = "buttonTop"> <a href="products.html"><span class = "navText">Our Products</span></a> </li>
              <li class = "buttonTop"> <a href="https://docs.google.com/forms/d/e/1FAIpQLSdhwaTVXcxxfjb-5LwDN3IBbFO5EztTImTTzqleAasy6jWnEA/viewform?embedded=true" target="_blank"><span class = "navText">Order Now</span></a> </li>
              <li class = "buttonTop"> <a href="contact.html"><span class = "navText">Contact Us</span></a> </li>
          </ul>
      </nav>
  </header>
  <header>
    <div class = "row">
      <h1>Sign-In</h1>
    </div>
  </header>
  <div class = "row">
<!--Email & Password Login-->
  <div class = "col-md-6">
      <div class = "row" style="border-right-style:solid;">
        <form>
          <br><br><br>
          <div class = "col-sm-4"></div>
          <div class="col-sm-4">
            <div class = "form-group">
              <label class="control-label col-sm-2" for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="email" required>
            </div>
            <div class = "form-group">
              <label class="control-label col-sm-2" for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" ng-model="email" required>
            </div>
	    <div class = "col-sm-6">
            	<input type="submit" class = "form-control" id = "submit">
	    </div>
	    <div class = "col-sm-6">
            	<input type="button" class = "form-control" id = "signup">Sign-Up
	    </div>
          </div>
        </form>
      </div>
      <div class = "row">
    </div>
  </div>
<!--Google Login-->
  <div class = "col-md-6">
  </div>
</div>
</div>
</body>
<footer id="footer">
  <ul class="icons">
    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://www.facebook.com/VikeInks-286105008437530/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>	
  </ul>
  <ul class="copyright">
    <li>&copy; VikeInks</li><li>Main Page: <a href="#">Home</a></li>
  </ul>
</footer>
</html>
